<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/chat.css" rel="stylesheet" type="text/css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../static/js/chat.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="content">


        <!--        <div class="item item-center"><span>昨天 12:35</span></div>-->


        <!--        <div class="item item-center"><span>你已添加了凡繁烦，现在可以开始聊天了。</span></div>-->


        <!--        <div class="item item-left" id='personA'>-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userA.jpg"/>-->
        <!--            </div>-->
        <!--            <div class="bubble bubble-left">您好,我在武汉，你可以直接送过来吗，我有时间的话，可以自己过去拿<br/>！！！<br/>123</div>-->
        <!--        </div>-->


        <!--        <div class="item item-right" id='personB'>-->
        <!--            <div class="bubble bubble-right">hello<br/>你好呀</div>-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userB.jpg"/>-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="item item-center"><span>昨天 13:15</span></div>-->
        <!--        <div class="item item-right">-->
        <!--            <div class="bubble bubble-right">刚刚不在，不好意思</div>-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userB.jpg"/>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="item item-left">-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userA.jpg"/>-->
        <!--            </div>-->
        <!--            <div class="bubble bubble-left">没事<br/>你继续！</div>-->
        <!--        </div>-->
        <!--        <div class="item item-left">-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userA.jpg"/>-->
        <!--            </div>-->
        <!--            <div class="bubble bubble-left">看到了<br/>在下面</div>-->
        <!--        </div>-->
        <!--        <div class="item item-left">-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userA.jpg"/>-->
        <!--            </div>-->
        <!--            <div class="bubble bubble-left">你发一个<br/>刚刚网卡了</div>-->
        <!--        </div>-->
        <!--        <div class="item item-right">-->
        <!--            <div class="bubble bubble-right">可以<br/>一会儿再发给你</div>-->
        <!--            <div class="avatar"><img-->
        <!--                    src="../static/img/userB.jpg"/>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="input-area">
        <h2 id="msgbox_name">{{result.name}}</h2>
        <textarea id="textarea" name="text" placeholder="说点什么吧"></textarea>
        <div class="button-area">
            <button id="send-btn">发 送</button>
        </div>
    </div>
</div>

</body>
</html>
